.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}
 
  .date-range-wrapper {
    margin-top: 10px;
  }

.table {
    width: max-content;
    display: block;
    overflow-y: auto;
    height: 500px;
    border-collapse: collapse;
    box-shadow: 0 10px 10px #ccc;
    border-radius: 10px;
    white-space: nowrap;
    margin: auto;
}

.table thead {
    background-color: #ccc;
    color: #222;
}

.table th {
    padding: 0.8rem;
}

.table td {
    border-top: 1px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.8rem;
}

.table tbody tr:hover {
    background-color: #ffffff;
}

.expand {
    width: 100%;
}

.label {
    border-radius: 3px;
    padding: 0.3rem;
    color: white;
}

.label-draft {
    background-color: #777;
}

.label-active {
    background-color: green;
}

.label-nonActive {
    background-color: red;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.actions svg {
    cursor: pointer;
}

.delete-btn {
    color: red;
}
.aire{
    
}

.scroll{
    margin-top: 20px;
}



  
